.about .col-8{
    border-right: 3px solid black;
}

.about .title{
    font-size: 90px;
    color: #00693E;
}

.about .main-imgs{
    width: 50%;
    height: 350px;
}

.about .about-us{
    background-color: rgb(0, 105, 62);
    color: white;
}

.about .input-container{
    width: 90%;
    background-color: rgb(18,49,43);
    border-radius: 6px;
}

.about .input-container input {

   margin-right: 15px;
   background-color: rgb(18,49,43);
   border: 0;
   border-bottom: 3px solid red;
   border-radius: 0;
   
}

.about .input-container input::placeholder{
    color: white;
}

.about .motto{
   color: #00693E;
}
